canvas {
	box-sizing: border-box;
}

header {
	border: 3px solid black;
	background-color: lightBlue;
	text-align: center;
	margin: 5px;
	padding: 5px;
}

.center {
	text-align: center;
}

.box {
	background-color: lightBlue;
	border: 3px solid black;
	margin: 5px;
	padding: 5px;
}

.float {
	float: left;
}

table {
	padding: 15px;
	border: 2px solid black;
}